# --------------------------------------------------
# macOS
# --------------------------------------------------

.DS_Store


# --------------------------------------------------
# Python
# --------------------------------------------------

__pycache__/
*.py[cod]
*.pyo


# --------------------------------------------------
# Virtual environments
# --------------------------------------------------

.conda/
.venv/
venv/
env/


# --------------------------------------------------
# IDE
# --------------------------------------------------

.idea/
.vscode/


# --------------------------------------------------
# Jupyter
# --------------------------------------------------

.ipynb_checkpoints/


# --------------------------------------------------
# Streamlit
# --------------------------------------------------

.streamlit/secrets.toml


# --------------------------------------------------
# Environment / secrets
# --------------------------------------------------

.env
.env.*


# --------------------------------------------------
# Temporary files
# --------------------------------------------------

*.log
*.pages
